.App {
  text-align: center;
}

.App-logo {
  height        : 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height      : 100vh;
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  justify-content : center;
  font-size       : calc(10px + 2vmin);
  color           : white;
}

.App-link {
  color: #61dafb;
}

.h-full {
  height: 100vh !important;
}

.style-slidebar {
  flex     : 0 0 300px !important;
  max-width: 300px !important;
  min-width: 300px !important;
  width    : 300px !important;
}

.component-wallet {
  border-radius: 16px;
  width        : 100%;
  position     : relative;
}

.component-wallet .background-wallet {
  position     : absolute;
  top          : 0;
  left         : 0;
  border-radius: 16px;
  overflow     : hidden;
  z-index      : 0;
  height       : 100%;
}

.component-wallet .background-wallet img {
  height: 100%;
  width : 100%;
}

.info-container {
  background-color: rgba(84, 250, 7, 0.08);
  border-radius   : 16px;
  width           : 100%;
  position        : relative;
  min-height      : 172px;
  top             : 0;
  left            : 0;
  z-index         : 1;
  text-shadow     : 0 2px 8px rgb(0 0 0 / 24%), 0 1px 4px rgb(0 0 0 / 24%);
  padding         : 20px;
  color           : #fff;
}

.info-container .address {
  font-size: 0.7rem;
}

.info-container .binance {
  font-size  : 2rem;
  font-weight: bold;
  margin     : 10px 0;
}

.quick-action {
  float: right;
}

.icon {
  border-radius   : 10px !important;
  height          : 32px !important;
  width           : 32px !important;
  font-size       : 16px !important;
  background-color: rgba(255, 255, 255, 0.4) !important;
  border-color    : #fff !important;
  color           : rgb(72 72 72);
  display         : inline-flex;
  align-items     : center;
  justify-content : center;
  margin-left     : 10px;
}

.m-2 {
  margin: 30px;
}

.component-connect-wallet {
  color          : #fff;
  font-size      : 16px;
  margin         : 10px 0;
  display        : flex;
  width          : 100%;
  justify-content: center;
  text-align     : center;
}

.connect-wallet {
  width         : fit-content;
  display       : flex;
  flex-direction: column;
  padding       : 5px 10px;
  border-radius : 10px;
  border        : 2px dashed white;
}

.connect-wallet.active {
  background: #07bb07;
}

.connect-wallet:hover {
  background: rgba(160, 159, 159, 0.5);
  color     : white;
  cursor    : pointer;
  box-sizing: border-box;
}

.absolute-center {
  position       : absolute;
  height         : 100%;
  width          : 100%;
  display        : flex;
  justify-content: center;
  align-items    : center;
  background     : rgba(0, 0, 0, 0.5) !important;
  z-index        : 10;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}